#mans-harsh-lines {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255,255,255,0.8);
  padding: 12px;
}

#mans-harsh-lines a {
  color: #f00;
  font-weight: bold;
  text-decoration: none;
}
