body {
  font-family: "Helvetica Neue", Aria, Helvetica, sans-serif;
  color: #fff;
  padding: 0;
  background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
  color: #fff;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.meeverywhere {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: rgba(0,0,0,0.8);
  border-radius: 10px 0 0 0;
  padding: 25px;
  font-size: 25px;
}

.meeverywhere ul {
  list-style-type: none;
  margin: 0;
}

.meeverywhere li {
  line-height: normal;
}

.meeverywhere a {
  text-decoration: none;
}

nav ul {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 130%;
  list-style-type: none;
}

nav li {
 float: left;
 margin-right: 15px;
}


.font-label {
  margin-top: 40px;
}

.font-label h1 {
  font-size: 60px;
}

.thumbnails {
  list-style-type: none;
}