.front blockquote.largequote {
  margin-top: 50px;
  font-size: 3.5em;
  line-height: 1.2em;
  font-weight: 100;
}
.front .gravatar {
  display: none;
}
.front .commits ul {
  margin: 0;
}
.front .commits ul li {
  list-style-type: none;
}
.front .time {
  color: #bbb;
  font-style: italic;
}
.front .is-sticky h2 {
  background: white;
  border-bottom: 4px solid #eee;
  margin-top: 0;
}
.front h2 {
  margin-left: 0;
}
.container {
  margin-top: 30px;
}
.me img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: -40px 20px 0 0;
}
.me h1 {
  display: inline-block;
  font-weight: 300;
  font-size: 4em;
}
.me h1 small {
  font-weight: 100;
}
.extra-space {
  margin-top: 60px;
}
.footer {
  margin-top: 15px;
  background: #eee;
  border-top: #ccc 1px solid;
  padding: 15px 0;
  text-align: center;
}
.icon img {
  width: 80px;
  height: 80px;
  opacity: .8;
}
.icon:hover img {
  opacity: 1;
}
