<header>
  <div>
    {% if showName %}
      <a class="my-name" href="/">Kevin Miller</a>
    {% endif %}
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="resume">Resume</a>
        </li>
      </ul>
    </nav>
  </div>
</header>