---
layout: front
title: kevee.org
tag: blog
rsstext: rss
yarn : yarn
---
<div class="me">
	<img src="https://d233eq3e3p3cv0.cloudfront.net/fit/c/256/256/0*GR1vBSa0KxSNDm0g.jpeg" alt="">
	<h1>kevee <small> (kevin miller)</small></h1>
</div>
<blockquote class="largequote">I build things using <a href="https://drupal.org/user/125882">Drupal</a>, <a href="/art">paper</a>, <a href="#" class="popover-link" data-contentid="popover-yarn">yarn</a>, tofu, and <a href="">JavaScript</a> that are used to <a href="http://quailjs.org" target="_blank">improve web accessibility</a>, keep hands warm, and help keep <a href="http://csumb.edu/drupal">higher education relevant</a>.
</blockquote>
<div id="popover-yarn" class="popover-hidden-content">
	<div>
		{% for post in site.posts %}
	  {% for tag in post.tags %}
	  	{% if tag == "yarn" %}
	  		{{ post.content }}
	  	{% endif %}
	  {% endfor %}
	{% endfor %}
	</div>
</div>
<div class="row extra-space">
	
	<div class="span12 rss">
		<h2 class="span6">What I've been doing</h2>
		{% for post in site.posts %}
		  {% for tag in post.tags %}
		  	{% if tag == page.rsstext %}
					<article>
						{% if post.source != "github" %}
							<h3><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h3>
							<p>{{ post.date | date_to_string }}</p>
						{% endif %}
						<p>{{ post.content }}</p>
					</article>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>
