@font-face {
  font-family: 'Public Sans';
  src: url('../assets/webfonts/PublicSans-Light.woff2') format('woff2'),
    url('../assets/webfonts/PublicSans-Light.woff') format('woff'),
    url('../assets/webfonts/PublicSans-Light.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans thin';
  src: url('../assets/webfonts/PublicSans-Thin.woff2') format('woff2'),
    url('../assets/webfonts/PublicSans-Thin.woff') format('woff'),
    url('../assets/webfonts/PublicSans-Thin.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans black';
  src: url('../assets/webfonts/PublicSans-Black.woff2') format('woff2'),
    url('../assets/webfonts/PublicSans-Black.woff') format('woff'),
    url('../assets/webfonts/PublicSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans bold';
  src: url('../assets/webfonts/PublicSans-Bold.woff2') format('woff2'),
    url('../assets/webfonts/PublicSans-Bold.woff') format('woff'),
    url('../assets/webfonts/PublicSans-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
