<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/kevee.css" />
	</head>
	<body class="front">
		<div class="container">
      		{{ content }}
		</div>
		<div class="footer">
			<div class="container">
				<a href="https://twitter.com/kevinmiyar" class="icon"><img src="/assets/img/twitter.png" alt="me on twitter"></a>
				<a href="https://github.com/kevee" class="icon"><img src="/assets/img/github.png" alt="me on github"></a>
				<a href="https://drupal.org/user/125882" class="icon"><img src="/assets/img/drupal.png" alt="me on drupal"></a>
			</div>
		</div>
		<script type="text/javascript" src="/lib/jquery.js"></script>
		<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/lib/jquery.sticky.js"></script>
		<script type="text/javascript" src="/js/kevee.js"></script>
	</body>
</html>